*{
    padding:0;
    margin: 0;
}
.wrapper{
    background: url(download1.png) no-repeat;
    background-size: cover;
    height: 100vh;
}
.icons{
    background-color: rgb(12, 12, 53);
    color: white;
    height: 62px;
}
.iconimg{
    border-radius: 10px;
    padding: 10px;
    margin-left: 100px;
    opacity: 0.5;
    color: black;
}
img:hover{
    background-color:white;
    opacity: 0.1;
}
.heading{
    display: inline;
    margin-left: 400px;
    color: white;
    font-style: italic;
    border: 1px solid white;
    padding:20px;
}
.heading1{
    display: inline;
    color: white;
    font-style: italic;
    border: 1px solid white;
    padding:20px;
}
h4:hover{
    color:blue;
}
.navbar{
    height: 100px;
    width: 100%;
   background: rgba(241, 239, 247, 0.979);
}
.logo{
    width: 80px;
    height: auto;
    padding: 10px;
    border-radius: 50px;
}
.navbar ul{
    float:right;
    margin-right:20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    padding: 7px 13px;
    font-family:'Times New Roman', Times, serif;
    transition: .4s;
}
.navbar ul li a.active,.navbar ul li a:hover{
    background: red;
    border-radius: 2px;
}
.wrapper .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
}
.center h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center h2{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width: 700px;
    margin-top: 10px;
    text-align: center;
}
.center .buttons{
    margin: 35px 280px;
}
.buttons button{
height: 50px;
width: 150px;
font-size: 18px;
font-weight: bold;
color: lightseagreen;
background: gold;
border: 1px solid black;
outline: none;
cursor: pointer;
border-radius: 25px;
transition: .5s;
}
.buttons .btn{
    margin-left: 25px;

}
.buttons button:hover{
    background: skyblue;
}